.home-4 {
  padding: 12em 0 10em;
}

.home-4__block {
  display: flex;
  justify-content: space-between;
  margin-top: 20em;
}

.home-4__block_item {
  width: 66em;
  padding: 3em 5em;
  box-shadow: $shadow;
  border-radius: 2.5em;
  background-color: $blue;
  box-sizing: border-box;
}

.home-4__block_item_title {
  font-family: 'Munsom', serif;
  font-size: 6em;
  color: $yellow;
}

.home-4__block_item_list {
  margin-top: 6em;
}

.home-4__block_item_list_item {
  padding: 0.3em 0;
  border-bottom: 1px solid white;
  font-family: 'Munsom', serif;
  font-size: 3em;
  color: white;
  &:last-child {
    border: none;
  }
  span {
    font-size: 1.2em;
  }
}

.home-4__block_item_desc {
  margin-top: 7.5em;
  font-family: 'Munsom', serif;
  font-size: 1.8em;
  color: white;
}

@media (max-width: 767.98px) {
  .home-4 {
    padding: 2em 0;
  }
  .home-4__block {
    display: block;
    margin-top: 0;
  }
  .home-4__block_item {
    width: 100%;
    margin-top: 2em;
    padding: 1em;
    box-shadow: $shadow-mobile;
    border-radius: 25px;
  }
  .home-4__block_item_title {
    font-size: 2em;
  }
  .home-4__block_item_list {
    margin-top: 1em;
  }
  .home-4__block_item_list_item {
    font-size: 1em;
  }
  .home-4__block_item_desc {
    margin-top: 2em;
    font-size: 1em;
  }
}