.bot-intro {
  position: relative;
  padding: 8em 0 40em;
  background-color: #e8e8e8;
  background-image: url(../../../img/bg/intro-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  .intro__block_content {
    width: 55%;
    padding-left: 0;
  }
  .intro__block_img {
    width: 45%;
    img {
      width: 50em;
    }
  }
}

@media (max-width: 767.98px) {
  .bot-intro {
    padding: 2em 0;
    background-image: none;
    background-color: $blue;
    .intro__block_content {
      width: 100%;
    }
    .intro__block_img {
      width: 100%;
    }
  }
}