.home-1 {
  padding: 14em 0 7.5em;
}

.home-1__block {
  display: flex;
  justify-content: space-between;
  margin-top: 8em;
}

.home-1__block_before {
  width: 50%;
  .home-1__block-item_text {
    padding: 0 2em;
  }
}

.home-1__block_after {
  position: relative;
  width: 35%;
}

.networks__bee_after_chart {
  position: absolute;
  top: 4em;
  left: -25em;
  width: 32.5em;
  z-index: -1;
}

.home-1__block_item_networks {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0 6em;
}

.networks__img {
  position: relative;
  width: 38em;
  height: 38em;
  animation: rotate-right infinite 18s linear;
}

@keyframes rotate-right {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

.networks__img_icon {
  position: absolute;
  width: 7em;
  animation: rotate-left infinite 18s linear;
  &:nth-child(1) {
    top: 0;
    left: 25%;
  }
  &:nth-child(2) {
    top: 0;
    right: 25%;
  }
  &:nth-child(3) {
    top: 25%;
    right: 0;
  }
  &:nth-child(4) {
    bottom: 25%;
    right: 0;
  }
  &:nth-child(5) {
    bottom: 0;
    right: 25%;
  }
  &:nth-child(6) {
    bottom: 0;
    left: 25%;
  }
  &:nth-child(7) {
    bottom: 25%;
    left: 0;
  }
  &:nth-child(8) {
    top: 25%;
    left: 0;
  }
}

@keyframes rotate-left {
  from { transform: rotate(0); }
  to { transform: rotate(-360deg); }
}

.networks__bee_before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 28.5em;
  z-index: -1;
}

.networks__illume {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 17.5em;
  z-index: -1;
}

.networks__bee_after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  z-index: -1;
}

.home-1__block-item_text {
  font-weight: 100;
  font-size: 3em;
}

@media (max-width: 767.98px) {
  .home-1 {
    padding: 2em 0;
  }
  .home-1__block {
    display: block;
    margin-top: 2em;
  }
  .home-1__block_before {
    width: 100%;
  }
  .home-1__block_after {
    width: 100%;
  }
  .home-1__block_item_networks {
    width: 16em;
    margin: 0 auto;
    padding: 1em;
    overflow: hidden;
  }
  .networks__img {
    width: 100%;
    height: auto;
    padding-bottom: 100%;
  }
  .networks__img_icon {
    width: 3em;
  }
  .home-1__block_before {
    .home-1__block-item_text {
      padding: 1em 0;
    }
  }
  .home-1__block-item_text {
    font-size: 1em;
  }
  .networks__bee_before {
    width: 12em;
  }
  .networks__illume {
    display: none;
  }
  .networks__bee_after {
    display: block;
    width: 14em;
  }
  .networks__bee_after_chart {
    display: none;
  }
}