.home-13 {
  padding: 5em 0 14em;
  background-image: url(../../../img/bg/home-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-13__slider {
  margin-top: 6em;
  .slick-slide {
    padding: 0 8em;
  }
}

.home-13__slider_item {
  img {
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  .home-13 {
    padding: 2em 0;
  }
  .home-13__slider {
    margin-top: 2em;
    .slick-slide {
      padding: 0 1em;
    }
  }
}